.Task {
  border: 1px solid blue;
  background-color: aqua;
  padding: 10px;
  height: 200px;
  width: 350px;
  margin: 10px;
  overflow: hidden;
}

.TaskIcons {
  float: right;
  margin-left: 10px;
}

.TaskName {
  margin-top: 0;
  font-weight: 700;
}

.TaskAssignee {
  font-weight: 700;
  color: #333333;
}
