.Task {
  border: 1px solid #ccc;
  background-color: rgba(215, 247, 274, 1);
  padding: 10px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.TaskTop {
  display: flex;
  justify-content: space-between;
}

.TaskId {
  color: #000;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  font-weight: 700;
}

.TaskName {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.3em;
  height: 3.6em;
  overflow: hidden;
  border: 1px solid transparent;
}

.TaskNameEdit {
  background-color: #fff;
  padding: 4px;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.3em;
  height: 3.6em;
  resize: none;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  flex-grow: 1;
}

.TaskIcons {
  margin-left: 10px;
  margin-right: -10px;
  margin-top: -10px;
  flex-shrink: 0;
}

.TaskAssigneeWrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  line-height: 32px;
}

.TaskAssigneeWrapper > span {
  margin-right: 5px;
}

.TaskAssignee {
  font-weight: 700;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TaskText {
  position: relative;
  line-height: 1.3em;
  height: 6.4em;
  overflow: hidden;
}

.TaskText:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(215, 247, 274, 0), rgba(215, 247, 274, 1) 50%);
}

.TaskTextEdit {
  width: 100%;
  box-sizing: border-box;
  height: 7em;
  resize: none;
}
